In [1]:
import pandas as pd
import numpy as np
import mysql.connector

In [2]:
df = pd.read_csv('../output.csv')
df.head()

,added_at,primary_color,video_thumbnail_url,is_local,added_by_external_urls_spotify,added_by_id,added_by_type,added_by_uri,track_preview_url,track_is_playable,...,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105,Unnamed: 106,Unnamed: 107,Unnamed: 108,Unnamed: 109,Unnamed: 110,Unnamed: 111
0,2022-03-11T14:53:12Z,NaN,NaN,False,https://open.spotify.com/user/thesoundsofspotify,thesoundsofspotify,user,spotify:user:thesoundsofspotify,https://p.scdn.co/mp3-preview/7de47ae31be52bb5...,TRUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-03-04T19:43:13Z,NaN,NaN,False,https://open.spotify.com/user/thesoundsofspotify,thesoundsofspotify,user,spotify:user:thesoundsofspotify,https://p.scdn.co/mp3-preview/0372376291fc6887...,TRUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-03-11T14:53:12Z,NaN,NaN,False,https://open.spotify.com/user/thesoundsofspotify,thesoundsofspotify,user,spotify:user:thesoundsofspotify,https://p.scdn.co/mp3-preview/8a27521dd44bab80...,TRUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-05-06T14:28:46Z,NaN,NaN,False,https://open.spotify.com/user/thesoundsofspotify,thesoundsofspotify,user,spotify:user:thesoundsofspotify,https://p.scdn.co/mp3-preview/0ac4ddf96020a678...,TRUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-03-04T19:43:13Z,NaN,NaN,False,https://open.spotify.com/user/thesoundsofspotify,thesoundsofspotify,user,spotify:user:thesoundsofspotify,https://p.scdn.co/mp3-preview/390c7ed030826fce...,TRUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.shape

(3746, 112)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3746 entries, 0 to 3745
Columns: 112 entries, added_at to Unnamed: 111
dtypes: bool(4), float64(2), int64(2), object(104)
memory usage: 3.1+ MB

In [5]:
df.isnull().sum()

added_at                             0
primary_color                     3746
video_thumbnail_url               3746
is_local                             0
added_by_external_urls_spotify       0
                                  ...
Unnamed: 107                      3743
Unnamed: 108                      3745
Unnamed: 109                      3745
Unnamed: 110                      3745
Unnamed: 111                      3745
Length: 112, dtype: int64

In [6]:
df.describe()

,primary_color,video_thumbnail_url,track_album_images_1_height,track_album_images_2_height
count,0.0,0.0,3746.000000,3746.000000
mean,NaN,NaN,309.076348,70.300053
std,NaN,NaN,54.812228,38.046134
min,NaN,NaN,300.000000,64.000000
25%,NaN,NaN,300.000000,64.000000
50%,NaN,NaN,300.000000,64.000000
75%,NaN,NaN,300.000000,64.000000
max,NaN,NaN,640.000000,300.000000

In [13]:
df["added_by_id"].unique()

array(['thesoundsofspotify', 'particlefilter',
       '31smjqj7ebivm6x7gfrk4wb3i6dm', '213jix5qkzbdmcpladmzioppa',
       'jyhra99st5nhex8kfo4um2dh7', 'n8riveraaa', nan, '12149447262',
       'lezliemalagu', '12167396932', 'r4efloexmx0bewcpsrcg3xbou',
       'jesssssxx', 'xrod6jvpskjxtxpdmggfavwyh',
       '31e6t66l5k7o7tzd6pfu6zzglhqy', '3fuy94b7rys5xb8gdvib64osf',
       '313g3woft7s54bslss2r7fav3nki'], dtype=object)

In [7]:
df.columns

Index(['added_at', 'primary_color', 'video_thumbnail_url', 'is_local',
       'added_by_external_urls_spotify', 'added_by_id', 'added_by_type',
       'added_by_uri', 'track_preview_url', 'track_is_playable',
       ...
       'Unnamed: 102', 'Unnamed: 103', 'Unnamed: 104', 'Unnamed: 105',
       'Unnamed: 106', 'Unnamed: 107', 'Unnamed: 108', 'Unnamed: 109',
       'Unnamed: 110', 'Unnamed: 111'],
      dtype='object', length=112)

In [56]:
# Rename the columns by replacing 'Unnamed' with '_'
df.columns = df.columns.str.replace('Unnamed: ', 'Unnamed_')

# Check the updated column names
print(df.columns)

Index(['added_at', 'primary_color', 'is_local',
       'added_by_external_urls_spotify', 'added_by_id', 'added_by_type',
       'added_by_uri', 'track_preview_url', 'track_is_playable',
       'track_explicit',
       ...
       'Unnamed_102', 'Unnamed_103', 'Unnamed_104', 'Unnamed_105',
       'Unnamed_106', 'Unnamed_107', 'Unnamed_108', 'Unnamed_109',
       'Unnamed_110', 'Unnamed_111'],
      dtype='object', length=111)

In [30]:
db=mysql.connector.connect(host='127.0.0.7',
	user='pyguy',
	passwd='Password1234!'
	)

In [34]:
mycursor = db.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('mysql',)
('opm_db',)
('parks_and_recreation',)
('performance_schema',)
('reportcovid',)
('sakila',)
('sql_hr',)
('sql_inventory',)
('sql_invoicing',)
('sql_store',)
('sys',)
('world',)

In [33]:
# Create a new database
mycursor.execute("CREATE DATABASE IF NOT EXISTS OPM_DB")

In [80]:
# Close the connection
mycursor.close()
db.close()

In [81]:
db=mysql.connector.connect(host='127.0.0.7',
	user='pyguy',
	passwd='Password1234!',
    database="opm_db"
	)

In [83]:
mycursor = db.cursor()
# Clear any pending results
cursor.fetchall()

[]

In [74]:
# Get column names and data types
columns = df.columns
column_types = []

# Map pandas dtypes to MySQL types
for col in columns:
    dtype = df[col].dtype
    if dtype == 'object':  # String columns
        column_types.append(f"{col} TEXT")
    elif dtype == 'int64':  # Integer columns
        column_types.append(f"{col} INT")
    elif dtype == 'float64':  # Float columns
        column_types.append(f"{col} FLOAT")
    elif dtype == 'datetime64[ns]':  # Datetime columns
        column_types.append(f"{col} DATETIME")
    else:
        column_types.append(f"{col} TEXT")  # Default to TEXT

In [75]:
# Create the table creation query
create_table_query = f"""
CREATE TABLE IF NOT EXISTS my_table (
    id INT AUTO_INCREMENT PRIMARY KEY,
    {', '.join(column_types)}
)
"""

In [ ]:
# Execute the query to create the table
mycursor.execute(create_table_query)

In [87]:
import csv
# Get the column names and create the insert query
columns = df.columns
insert_query = f"""
INSERT INTO my_table ({', '.join(columns)}) 
VALUES ({', '.join(['%s'] * len(columns))})
"""

# Prepare the data as a list of tuples
data = [tuple(row) for row in df.values]

# Insert the data into the table in bulk
mycursor.executemany(insert_query, data)

# Commit the transaction
db.commit()

print("CSV data inserted successfully!")

CSV data inserted successfully!

In [88]:
# Close the connection
mycursor.close()
db.close()